@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

footer {
    padding-top: 15px;
    font-size: small;
    display: flex;
    justify-content: center;
}

header {
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 50px;
    z-index: 2;
}

section {
    width: 85%;
    margin: 0 auto 10px auto;
    max-width: 700px;
}

main {
    padding-top: 65px;
}

.head {
    justify-content: center;
}

.image {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    float: right
}

.project-list {
    display: flex;
    flex-direction: column; /* Stacks the projects on top of each other */
    gap: 20px; /* Adds space between each project */
}

.project {
    display: flex;
    align-items: flex-start; /* Aligns items to the start of the container */
  }
  
  .project img {
    flex: 0 0 auto;
    margin-right: 20px;
    width: 100%; /* Makes the image responsive */
    max-width: 300px; /* Sets a maximum width for the image */
  }
  
  .project-content {
    flex: 1;
  }
  
  @media (max-width: 600px) {
    .project img {
      max-width: 200px; /* Reduces the maximum width of the image on small screens */
    }
  }

.avatar {
    display: table-cell;
    vertical-align: top;
    width: 15%;
    border-radius: 20%;
}

@media (min-width: 57.8125em) {
    .avatar {
        display: block;
        width: 150px;
        height: auto
    }
}

@media (min-width: 57.8125em) {
    .avatar img {
        padding: 5px;
        border: 1px solid #f2f3f3
    }
}

.author__content {
    display: table-cell;
    vertical-align: top;
    padding-left: 15px;
    padding-right: 25px;
    line-height: 1
}

@media (min-width: 57.8125em) {
    .author__content {
        display: block;
        width: 100%;
        padding-left: 0;
        padding-right: 0
    }
}

.author__name {
    margin: 0
}

@media (min-width: 57.8125em) {
    .author__name {
        margin-top: 10px;
        margin-bottom: 10px
    }
}

.sidebar .author__name {
    font-size: 1em
}

.author__bio {
    margin: 0
}

@media (min-width: 57.8125em) {
    .author__bio {
        margin-top: 10px;
        margin-bottom: 20px
    }
}

.author__urls-wrapper {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    z-index: 10;
    position: relative;
    cursor: pointer
}

.author__urls-wrapper li:last-child a {
    margin-bottom: 0
}

@media (min-width: 57.8125em) {
    .author__urls-wrapper {
        display: block
    }
}

.author__urls-wrapper button {
    margin-bottom: 0
}

@media (min-width: 57.8125em) {
    .author__urls-wrapper button {
        display: none
    }
}

.author__urls {
    display: none;
    position: absolute;
    right: 0;
    margin-top: 15px;
    padding: 10px;
    list-style-type: none;
    border: 1px solid #f2f3f3;
    border-radius: 4px;
    background: #fff;
    z-index: -1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    cursor: default
}

@media (min-width: 57.8125em) {
    .author__urls {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        border: 0;
        background: transparent;
        box-shadow: none
    }
}

.author__urls:before {
    display: block;
    content: "";
    position: absolute;
    top: -11px;
    left: calc(50% - 10px);
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f2f3f3 transparent;
    z-index: 0
}

@media (min-width: 57.8125em) {
    .author__urls:before {
        display: none
    }
}

.author__urls:after {
    display: block;
    content: "";
    position: absolute;
    top: -10px;
    left: calc(50% - 10px);
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #fff transparent;
    z-index: 1
}

@media (min-width: 57.8125em) {
    .author__urls:after {
        display: none
    }
}

.author__urls li {
    white-space: nowrap
}

.author__urls a {
    display: block;
    margin-bottom: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: inherit;
    font-size: 1em;
    text-decoration: none
}

.author__urls a:hover {
    text-decoration: underline
}